#ctn-1 {
  background-color: #f8f9fa;
}

#ctn-2 {
  background-color: #a5a5a5;
}

.pintar > .row > div {
  background-color: #1b7ada;
  border: 1px solid #000;
  padding: 10px;
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* pequeño devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  p{
    color: rgb(255, 21, 0) !important;
  }
}

/* Medio devices (tablets, 768px and up) */
@media (min-width: 768px) {
  p{
    color: rgb(116, 116, 228) !important;
  }
}

/* Largo devices (desktops, 992px and up) */
@media (min-width: 992px) {
  p{
    color: green !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  p{
    color: purple !important;
  }
}