.caja {
  padding: 10px;
  border: 1px solid #ccc;
  transition: background-color 0.3s; 
  border-radius: 5px;
  margin-bottom: 10px;
}

.caja.color {
  background-color: #d86359;
  color: #0b0ff4fc;
  font-weight: bold;
}

.caja.color:hover {
  background-color: #f504f9 !important;
  color:#ffffff;
}